* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif; }

body {
  background: radial-gradient(white, #c1c1c1);
  min-height: 100vh; }

.header__marca {
  width: 130px;
  height: 32px; }

.header__logo {
  height: 100%;
  width: 100%; }

.header1 {
  background-color: #365f7c;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center; }
  .header1 a {
    color: #fff; }

.header__open {
  display: none; }

.navbar-nav {
  align-items: center;
  display: flex;
  margin: auto; }

.img-fluid {
  display: flex;
  margin: auto; }

.navbar-brand img {
  justify-content: left; }

.nav__lista {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between; }

.nav__item {
  display: flex;
  padding: 5px;
  font-style: inherit; }

.nav-item {
  padding: 6px;
  text-align: center; }

.nav__enlace {
  color: #fff;
  text-decoration: none; }
  .nav__enlace:hover {
    color: rgba(66, 134, 223, 0.856);
    text-decoration: none;
    transition: 0.4s; }

.nav__item--close {
  display: none; }

dl, ol, ul {
  margin-top: 0;
  margin-bottom: 0; }

.jam-whatsapp, .jam-instagram, .jam-facebook-circle, .jam-youtube-circle {
  text-decoration: none;
  font-size: 25px; }

.jam-users {
  text-decoration: none;
  font-size: x-large; }

.jam-instagram {
  background-color: rgba(135, 36, 110, 0.437); }

.jam-facebook-circle {
  background-color: rgba(39, 75, 165, 0.437); }

.jam-youtube-circle {
  background-color: rgba(148, 24, 24, 0.437); }

.jam-whatsapp {
  background-color: rgba(86, 137, 76, 0.437); }

.jam-users {
  background-color: rgba(70, 161, 211, 0.437); }

.footer {
  margin-top: 1rem;
  background-color: #000;
  color: #fff;
  padding: 1rem;
  font-size: 25px; }
  .footer__contacto {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 1rem; }
  .footer__logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    width: 50px;
    height: 50px; }
  .footer__redes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    gap: 16px; }
  .footer__texto {
    order: 1;
    text-align: center;
    font-size: x-small; }
  .footer a {
    text-decoration: none; }

footer a {
  text-decoration: none; }

.contenedor_productos {
  display: grid;
  grid-template-columns: repeat(2, 220px);
  grid-template-rows: repeat(2, 220px);
  justify-items: center;
  align-content: space-around;
  justify-content: center; }

.row {
  display: flex;
  padding: 1rem;
  margin: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

.dropdown {
  display: flex;
  margin: auto; }

.card-img-top {
  width: 200px;
  height: 200px; }

.card {
  justify-content: space-around;
  align-items: center;
  margin: auto;
  text-align: center; }

.col-sm-3 {
  padding: 0px; }

.row ul {
  grid-column: span 1;
  grid-row: span 6; }

.btn {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  width: fit-content; }

.faq-container {
  position: relative;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: minmax(300px, auto);
  margin: 30px;
  grid-auto-flow: dense;
  grid-gap: 10px; }
  .faq-container .faq-box {
    background: #355C7D;
    display: grid;
    padding: 20px;
    font-size: 1em;
    place-items: center;
    text-align: center;
    color: #fff;
    transition: .8s; }
  .faq-container .faq-box .faq p {
    display: none; }
  .faq-container .faq-box:hover {
    background-color: #6C5B7B; }
  .faq-container .faq-box:hover p {
    display: block;
    transition: all .4s; }
  .faq-container .faq-box img {
    position: relative;
    max-width: 50%; }
  .faq-container .faq-box:first-child {
    grid-column: span 2;
    grid-row: span 1; }
  .faq-container .faq-box:nth-child(2) {
    grid-column: span 1;
    grid-row: span 2; }
  .faq-container .faq-box:nth-child(4) {
    grid-column: span 1;
    grid-row: span 2; }
  .faq-container .faq-box:nth-child(5) {
    grid-column: span 1;
    grid-row: span 2; }

.loginPage {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: #ccc;
  border: none;
  margin: auto;
  margin-top: 250px;
  padding: 30px;
  height: fit-content;
  width: 450px;
  border-radius: 6%; }
  .loginPage input:hover {
    background: #f1f0f0;
    outline: none;
    border-bottom: #365f7c solid 2px;
    transition: .4s; }

.container-us {
  display: inline-block;
  margin: auto;
  padding-bottom: 20px; }
  .container-us h2 {
    font-size: 4.2em;
    text-align: center;
    border-bottom: 1px solid #365f7c; }
  .container-us h5 {
    font-size: 1.7em;
    margin: 10px; }

@media screen and (min-width: 1023px) {
  .header__open1 {
    display: none; }
  .header2 {
    flex-direction: column; }
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: inherit;
    justify-content: right;
    flex-wrap: wrap; } }

@media screen and (max-width: 991px) {
  main {
    height: 100vh;
    width: fit-content; }
  .seccion1 {
    display: flex;
    height: 100vh; }
  .navbar-brand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .header1 {
    display: none; }
  .navbar-toggler-icon {
    display: flex;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center; }
  .jam-user {
    display: block; }
  .nav {
    display: none; }
  .header__open {
    display: block;
    font-size: 50px;
    color: white;
    text-decoration: none; }
  .header__open1 {
    display: block;
    font-size: 40px;
    color: white;
    text-decoration: none; }
  .seccion1__titulo {
    font-size: 40px; }
  .seccion1__subtitulo {
    font-size: 25px;
    color: white; }
  .seccion1__parrafo {
    text-align: center; }
  .footer {
    flex-direction: column;
    gap: 40px;
    font-size: xx-large; }
  .footer__texto {
    order: 1;
    text-align: center;
    font-size: x-small; }
  .footer__marca {
    flex-direction: column;
    gap: 1rem; }
  #cascada {
    display: block;
    background-color: #49e;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 5rem;
    top: -100%;
    z-index: 100;
    font-size: 40px;
    transition: all 1s; }
  #cascada:target {
    top: 0; }
  .nav__lista {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    text-align: center; }
  .nav__item--close {
    display: block; }
  .nav__item {
    margin-left: 0; }
  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
    min-width: fit-content; }
  .faq-container {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    grid-template-rows: minmax(auto, auto); }
  .faq-container .faq-box {
    grid-column: unset !important;
    grid-row: unset !important; }
  .container-us {
    width: fit-content; } }
