
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: radial-gradient(rgb(255, 255, 255), rgb(193, 193, 193));
    min-height: 100vh;
}
