.contenedor_preguntas {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: dense;
    height: 600px;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    margin: 20px;
    align-content: space-around;
}

.preguntas {
    background-color: $color-brand;
    border: #000 solid 1px;
    text-align: center;
    height: 250px;
    width: 300px;
    padding: 50px;
    font-size: 20px;
    text-align: center;
    transition: 1,5s;


&:first-child {
    background-color: #ccc;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

&:hover {
    background-color: rgb(10, 41, 95);
    color: #fff;
    border: #000 solid 1px;
    padding: 50px;
    font-size: 20px;
    text-align: center;
    transition: 1s;
    
}
}