.jam-whatsapp, .jam-instagram, .jam-facebook-circle, .jam-youtube-circle {
    text-decoration: none;
    font-size: 25px;
}

.jam-users {
    text-decoration: none;
    font-size: x-large;
}

$redes:
    "instagram" rgba(135, 36, 110, 0.437),
    "facebook-circle" rgba(39, 75, 165, 0.437),
    "youtube-circle" rgba(148, 24, 24, 0.437),
    "whatsapp" rgba(86, 137, 76, 0.437),
    "users" rgba(70, 161, 211, 0.437);

@each $clave, $value in $redes {
    .jam-#{$clave} {
        background-color: ($value);
    }
}