.loginPage {
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: #ccc;
    border: none;
    margin: auto;
    margin-bottom: 150px;
    margin-top: 150px;
    padding: 30px;
    height: fit-content;
    width: 450px;
    border-radius: 6%;
& input:hover {
    background: rgb(241, 240, 240);
    outline: none;
    border-bottom: $color-brand solid 2px;
    transition: .4s;
}}